{% extends 'layout.html' %}
{% block css %}
<style>
    body{
        background-image: url('/static/img/paper-2.jpeg');
        background-size: cover;
    }
</style>
{% endblock %}
{% block body %}
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-5 mt-5">
            <div class="card bg-light">
                <article class="card-body">
                    <h4 class="card-title" text-center mb-4 mt-1>Sign Up</h4>
                    <hr>
                    {% if errors %}
                        <p class="text-danger text-center">Invalid Data</p>
                    {% endif %}
                    <form method="POST">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                </div>

                                <input name="username" class="form-control"
                                       placeholder="Username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                </div>

                                <input name="email" class="form-control"
                                       placeholder="Email or login" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                </div>

                                <input name="pwd" class="form-control"
                                       placeholder="******" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                </div>

                                <input name="cpwd" class="form-control"
                                       placeholder="******" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit and Register</button>
                        </div>

                    </form>

                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
